<nz-card>
    <nz-row>
        <nz-col [nzSpan]="24" style="overflow-x: auto;overflow-y: auto;">
            <pdf-viewer [src]="'assets/TARIFARIO-ABO-21JUL2023.pdf'" [render-text]="true" [original-size]="false" [page]="page" [stick-to-page]="false" [show-all]="false" [zoom-scale]="'page-width'" [zoom]="zoom"></pdf-viewer>
        </nz-col>    
    </nz-row>
    <nz-row>
        <nz-col [nzSpan]="6" nz-button (click)="prevPage()" class="iconButton">
            <span nz-icon nzType="left" nzTheme="outline"></span>
        </nz-col>
        <nz-col [nzSpan]="6" nz-button (click)="nextPage()" class="iconButton">
            <span nz-icon nzType="right" nzTheme="outline"></span>
        </nz-col>
        <nz-col [nzSpan]="6" nz-button (click)="zoomIn()" class="iconButton">
            <span nz-icon nzType="zoom-in" nzTheme="outline"></span>
        </nz-col>
        <nz-col [nzSpan]="6" nz-button (click)="zoomOut()" class="iconButton">
            <span nz-icon nzType="zoom-out" nzTheme="outline"></span>        
        </nz-col>
    </nz-row>    
</nz-card>