<nz-row>
    <nz-col [nzSpan]="24">
        <pdf-viewer [src]="'assets/TARIFARIO-ABO-21JUL2023.pdf'" [render-text]="true" [original-size]="false" [page]="2" [stick-to-page]="true" [stick-to-page]="true" [show-all]="false"></pdf-viewer>
    </nz-col>    
</nz-row>
<nz-row>
    <nz-col [nzSpan]="6">
        <span nz-icon nzType="left" nzTheme="outline"></span>
    </nz-col>
    <nz-col [nzSpan]="6">
        <span nz-icon nzType="right" nzTheme="outline"></span>
    </nz-col>
    <nz-col [nzSpan]="6">
        <span nz-icon nzType="zoom-in" nzTheme="outline"></span>
    </nz-col>
    <nz-col [nzSpan]="6">
        <span nz-icon nzType="zoom-out" nzTheme="outline"></span>        
    </nz-col>
</nz-row>