:host ::ng-deep .ant-layout-header{
    height: auto;
   }
nz-card {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: 10px;    
}
.avatar {
    width: 4%;
    position: fixed;
    right: 20px;
    bottom: 85px;
    height: 13%;
}
.contenedorChat {
    width: 20%;
    position: fixed;
    right: 20px;
    bottom: 85px;
    height: 60%;
    z-index: 999;
}
.avatarImg {
    width: 5%;
    right: 20px;
    bottom: 75px;
    position: fixed;
}

@media (max-width: 768px) {
    .avatar {
        width: 12%;
        position: fixed;
        right: 3%;
        bottom: 3%;
        height: 12%;
    }
    .avatarImg {
        width: 12%;
        height: 12%;
        right: 3%;
        bottom: 3%;
        position: fixed;
    }
    .contenedorChat{
        width: 100%;
        height: 100%;
        position: inherit;
        z-index: 999;
    }
}
app-pdf-viewer {    
    height: 43vh;
    width: 60vh;    
}
button {
    background-color: #0066a0;
}
nz-col {
    color: white;
}
nz-layout {
    width: 100%;height: 100%;background-color: white;
}
nz-header{
    background-color:#0066a0;padding: 0px 0px 0px 0px;
}
